@import url('https://fonts.googleapis.com/css?family=Changa&display=swap');

html {
	background: #536976;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #292E49, #536976);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #292E49, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	padding:0px 40px;
	margin-top: 0px;
	border-radius: 0px;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:'Changa', sans-serif;
}

.titulo{
	background:#f8f8f8;
	max-width:360px;
	margin:80px auto;
	height:auto;
	padding:35px;
	padding-top:70px;
	border-radius:10px;
	position:relative;
	box-shadow:0 0 30px rgba(0,0,0,0.2);	
}

.titulo h2{
	text-align:center;
	margin-bottom:5px;
	color:#0d3c64;
}

.campos .label{
	display:block;
	color:#536976;
	margin-bottom:0px;
}

.input{
	padding:5px 0 5px 20px;
	width:100%;
	text-align:left;
	border:2px solid #dddddd;
	border-radius:5px;
	letter-spacing:1px;
	word-wrap:3px;
	outline:none;
	font-size:16px;
	color:#536976;
}

.mod{
	margin-bottom:20px;
}

.logo{
	position:absolute;
	top:-50px;
	left:50%;
	transform:translateX(-50%);
	width:100px;
	height:100px;
	background:#f8f8f8;
	border-radius:5%;
	box-shadow:0 0 10px rgba(0,0,0,0.2);
	text-align:center;
	line-height:100px;
}

.logo{
	background: url(logo_formulario.png);
	width:98px;
	height:98px;
	border-radius:5%;
}
